/* Photograph Header */
.photograph-header {
    height: 300px;
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.photograph-intro {
    order: 0;
}

.photograph-name {
    font-size: 64px;
    color: #d3573c;
}

.photograph-location {
    font-size: 24px;
    color: #901c1c;
    margin-top: 10px;
}

.photograph-tagline {
    font-size: 18px;
    color: #525252;
    margin-top: 15px;
}

.photograph-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    order: 2;
    justify-self: flex-end;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    order: 1;
    justify-self: center;
}

/* Photograph Filter */
.photograph-filter {
    margin-left: 100px;
    position: relative;
}

.filter-label {
    font-weight: 700;
    font-size: 18px;
}

.filter {
    position: absolute;
    top: -10px;
    left: 100px;
    border: none;
    background: #911c1c;
    border-radius: 5px;
    width: 170px;
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.filter-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 23px 20px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: start;
    cursor: pointer;
}

.filter-btn_dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-btn:not(:first-child){
    border-top: 1px solid #fff;
}

.filter-btn_date,
.filter-btn_title,
.filter-btn_popular {
    display: none;
}

.filter-btn_dropdown-show ~ .filter-btn_date,
.filter-btn_dropdown-show ~ .filter-btn_title,
.filter-btn_dropdown-show ~ .filter-btn_popular {
    display: block;
}

.filter-btn_dropdown-show .filter-chevron {
    transform: rotate(180deg);
}

/* Photograph Medias */
.photograph-medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.media-img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.media-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 350px;
    color: #911c1c;
}
.media-name {
    font-size: 24px;
}

.media-like {
    font-size: 16px;
    cursor: pointer;
}
.icon_liked {
    color: #db2e2e;
}  

/* fixed-box */
.photograph-fixed-box {
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 90px;
    width: 376px;
    background: #db8876;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photograph-all-likes {
    font-weight: 500;
    font-size: 24px;
    margin-left: 30px;
}

.photograph-price {
    font-weight: 500;
    font-size: 24px;
    margin-right: 30px;
}

/* Modal */
#contact_modal {
    background-color: rgba(196, 196, 196, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    max-width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 2vh;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
}

form {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact_label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.contact_input {
    width: 90%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact_textarea {
    resize: none;
    height: 170px;
}

@media screen and  (max-width: 1100px) {
    .photograph-header{
        margin: 0 20px;
    }
    .photograph-medias {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal {
        width: 80%;
    }
    .modal header h2 {
        font-size: 42px;
    }

    .photograph-filter {
        margin-left: 10px;
    }
}

@media screen and  (max-width: 768px) {
    .photograph-name {
        font-size: 44px;
        color: #d3573c;
    }
    .photograph-location {
        font-size: 20px;
    }
    .photograph-tagline {
        font-size: 16px;
    }
    .photograph-pic {
        width: 100px;
        height: 100px;
    }
    .contact_button {
        width: 140px;
        font-size: 16px;
        height: 60px;
    }
    .media-img {
        width: 250px;
        height: 200px;
    }
    .media-text-container {
        width: 250px;
    }

    .filter-btn {
        padding: 10px 20px;
    }
}