@import url('reset.css');
@import url('photographer.css');

body {
    font-family: 'DM Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.title {
    color: #901c1c;
    margin-right: 100px;
    font-size: 36px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}


.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.photographer_img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.photographer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photographer_name {
    color: #d3573c;
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px;
}

.photographer_location {
    font-size: 13px;
    color: #901c1c;
    margin-top: 10px;
}

.photographer_tagline {
    font-size: 10px;
    margin-top: 5px;
}

.photographer_price {
    font-size: 9px;
    margin-top: 5px;
    color: #757575;
}
